# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/
build/
*.env
.venv/

# Conda
.conda/

# Data & Models
dataset/processed/
models/
runs/
*.pt
*.onnx
*.tflite
wandb/

# IDE
.vscode/
.idea/