name: CI Pipeline

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    # --- LANGKAH BARU UNTUK MEMBERSIHKAN DISK RUNNER ---
    - name: Free Disk Space (Ubuntu)
      run: |
        echo "Freeing up disk space..."
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo apt-get clean
        echo "Disk space after cleanup:"
        df -h

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Linting (Black & isort)
      run: |
        black --check .
        isort --check .
    
    - name: Run Static Analysis (Pylint)
      run: pylint bsort/

    - name: Run Unit Tests (Pytest)
      run: pytest

    - name: Build Docker Image
      run: docker build -t adamata-bsort:latest .